@use '../fonts/index';
@use '../blocks/variables' as vars;
@use '../blocks/globals';
@use '../blocks/header';

body {
  background-color: vars.$primary;
}
h1 {
  font-family: vars.$mainFont;
}
h2 {
  font-family: vars.$accentFont;
}

//img{
//    width: 400px;
//}
